body {
    font-family: 'Raleway', sans-serif;
}

.navbar {
    font-weight: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    .navbar-brand h3 {
        font-weight: 100;
    }
    .title {
        font-size: 1.7rem;
        padding-left: 20px;
    }
    .nav-item {
        font-size: 1.4rem;
    }
    .nav-link:hover {
        transition: border 0.2s;
        border-bottom: 1px solid white;
    }
}

#showcase {
    background: url("../assets/images/brooklyn_hero.jpg") bottom center / cover no-repeat;
    min-height: 750px;
    position: relative;

    #header {
        z-index: 2;
    }

    #overlay {
        background: rgba(186, 135, 78, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    h1 {
        font-family: "Questrial", sans-serif;
        font-size: 2.5rem;
        line-height: 1;
        text-shadow: 2px 2px 7px black;
    }

    h2 {
        font-family: "Questrial", sans-serif;
        font-size: 1.3rem;
        line-height: 1;
        text-shadow: 2px 2px 7px black;
    }

    p {
        text-shadow: 2px 2px 7px black;
    }

}

#contact-section {
    min-height: 750px;
    position: relative;
}

#movie-display {
    background-color: #eff5f5;
    padding: 20px 0;
    .reveal-btn {
        font-size: 1.2rem;
        background-color: #36b3a8;
        color: #fff;
    }
}

#social {
    width: 100%;
    .svg-inline--fa {
        margin: 20px;
        font-size: 2rem;
    }
}



.footer {
    background-color: #1f1f1f;
    font-weight: 100;
}

@media(max-width: 768px) {
    .navbar {
        background: #1f1f1f;
        .nav-link:hover {
            border-bottom: none;
        }
    }
    #showcase {
        min-height: 500px;
        h1 {
            font-size: 2.5rem;
        }
    }
}